.dropdown.inline.js-group-filter-per-page-wrap.append-right-10
  %button.dropdown-menu-toggle{ type: 'button', 'data-toggle' => 'dropdown' }
    %span.dropdown-label
      = default_per_page.to_s
    = icon('chevron-down')
  %ul.dropdown-menu.dropdown-menu-right.dropdown-menu-selectable
    %li.dropdown-header
      = _("Projects shown")
    - [10, 20, 30, 50, 70, 100].each do |per_page|
      %li.js-filter-per-page
        = link_to filter_groups_path(per_page: per_page), class: ("is-active" if default_per_page == per_page) do
          = per_page.to_s + _(" per page")
