- breadcrumb_title _("Details")
- @content_class = "limit-container-width" unless fluid_layout

- unless @per_page.present?
  - if params[:per_page]
    - @per_page = params[:per_page].to_i
  - else
    - @per_page = 20
- if @per_page <= 0
  - @per_page = 20

= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, group_url(@group, rss_url_options), title: "#{@group.name} activity")

%div{ class: [("limit-container-width" unless fluid_layout)] }
  = render 'groups/home_panel'

  .groups-listing{ data: { endpoints: { default: group_children_path(@group, format: :json, per_page: @per_page), shared: group_shared_projects_path(@group, format: :json, per_page: @per_page) } } }
    .top-area.group-nav-container.justify-content-between
      .scrolling-tabs-container.inner-page-scroll-tabs
        .fade-left= icon('angle-left')
        .fade-right= icon('angle-right')
        %ul.nav-links.scrolling-tabs.mobile-separator.nav.nav-tabs
          %li.js-subgroups_and_projects-tab
            = link_to group_path, data: { target: 'div#subgroups_and_projects', action: 'subgroups_and_projects', toggle: 'tab'} do
              = _("Subgroups and projects")
          %li.js-shared-tab
            = link_to group_shared_path, data: { target: 'div#shared', action: 'shared', toggle: 'tab'} do
              = _("Shared projects")
          %li.js-archived-tab
            = link_to group_archived_path, data: { target: 'div#archived', action: 'archived', toggle: 'tab'} do
              = _("Archived projects")

      .nav-controls.d-block.d-md-flex
        .group-search
          = render "shared/groups/search_form"

        = render "shared/groups/dropdown", options_hash: subgroups_sort_options_hash

        = render "shared/groups/per_page", default_per_page: @per_page

    .tab-content
      #subgroups_and_projects.tab-pane
        = render "subgroups_and_projects", group: @group

      #shared.tab-pane
        = render "shared_projects", group: @group

      #archived.tab-pane
        = render "archived_projects", group: @group
